{% extends "base.html" %}

{% block content %}
<form action="" method="post" id="SignUpForm">
    <fieldset class="accountInfo">
        <legend>New User Sign Up</legend>
        <p><label for="Username">User Name</label>
                <input type="text" name="username" value="{{username}}" placeholder="Required"><span class="error">{{error_username}} {{error_username_exists}}</span>
        </p>
        <p><label for ="password">Password</label>
            <input type="password" name="password" value="" placeholder="Required"><span class="error">{{error_password}}</span>
        </p>
        <p><label for="verify">Re-type Password</label>
            <input type="password" name="verify" value="" placeholder="Required"><span class="error">{{error_verify}}</span>
        </p>
        <p><label for="email">Email</label>
			<input type="text" name="email" value="{{email}}" placeholder="Required"><span class="error">{{error_email}}</span>
        </p>
    </fieldset>
    <feildset class ="accountAction">
            <input type="submit" class="btn btn-primary" name="submit" value="Sign Up">
    </fieldset>
{% endblock %}